
<div class="errors-page">
  <%= image_tag "doc.png", height: 100, class: 'login-img' %>
  <h1 class="display-3 mb-4 text-6xl text-center">Errors#internal_server_error</h1>
  <p class="text-center"> <%= link_to('Back', root_path, class: 'btn btn-secondary my-2 ') %> </p>
</div>
