<h1 class="display-3 text-center main-title mt-4">Admin public page</h1>

<%= render 'users/shared/logout_file' %>

<div class="row featurette card-body mt-4">
  <div class="col-md-7">
    <h2 class="featurette-heading">Hello dear <%= current_admin_user.full_name %></h2>
    <p class="lead">A system administrator, or sysadmin, or admin is a person who is responsible for the upkeep,
      configuration, and reliable operation of computer systems, especially multi-user computers, such as servers </p>
    <div class="custom-btn-image">
      <%= link_to "Enter your profile", admin_admin_user_path(@admin), class: "btn btn-success btn-lg text-white" %>
    </div>
  </div>
  <div class="col-md-5">
    <%= image_tag "user-empty.jpeg", height: 400, class: 'login-img' %>
  </div>
</div>